[submodule "ds006131-raw"]
	path = sourcedata/ds006131
	url = https://github.com/OpenNeuroDatasets/ds006131.git
[submodule "ds006185"]
	path = derivatives/fMRIPrep-24.1.1
	url = https://github.com/OpenNeuroDatasets/ds006185.git
[submodule "ds006143"]
	path = derivatives/MRIQC-25.0.0rc0
	url = https://github.com/OpenNeuroDatasets/ds006143.git
[submodule "ds006182"]
	path = derivatives/qsiprep-1.0.1.dev0+gee9aa2e.d20250115
	url = https://github.com/OpenNeuroDatasets/ds006182.git
[submodule "ds006188"]
	path = derivatives/ASLPrep-0.7.5
	url = https://github.com/OpenNeuroDatasets/ds006188.git
[submodule "ds006131"]
	path = sourcedata/ds006131
	url = https://github.com/OpenNeuroDatasets/ds006131.git
